<script>
    $(document).ready(function(){
       var id = $('#user_id').val()
        list_leave(id)
    })

    function list_leave(id=0){

url = '/list_leave/'+id;
$.ajax({
   
    url : url,
    beforeSend:function(){
        $('.list_leave').empty()
    },
    success:function(data){
        $('.list_leave').html(data)
    },
    
});


}
</script>

<div class="col-md-12  row  " style="height:400px;">

    <div class="col-md-8 row right_side p-3 mb-5   mt-3 list_leave" ></div>
   
    <div class="col-md-4 row right_side p-3 mb-5   mt-3  ml-3" >
        <input type="hidden" id="user_id" value="{{user.id}}">
        <div class="col-md-12 text-center"><h4 class="headings">Apply leave</h4></div>
        <form method="POST" id="leave_form">

            {% csrf_token %}
            <div class="col-md-12 row">
                <input type="hidden" id="hidden_id" name="hidden_id" value="0">
                <div class="col-md-12 row" style="height:300px;">
                <div class=" row" style="height:100px;">
                <div class="col-md-6 mt-3"><label for="reason">reason:</label></div>
                <div class="col-md-6 mt-3"><input type="text" name="reason" id="reason" required></div>
            
                <div class="col-md-6 mt-1"><label for="l_date">Date:</label></div>
                <div class="col-md-6 mt-1"><input type="date" name="l_date" id="l_date" required></div>
                </div>
                </div>
                <div class="col-md-12 row mt-3 mb-1 "> <div class="col-md-6"><button type="button" class="btn btn-success btn-sm  btn-block from-control pull-left" onclick="apply_leave()">Aooly leave</button></div> <div class="col-md-6"><button class="btn btn-block from-control btn-primary btn-sm " onclick="depart_refresh()">Refresh</button></div></div>
            </div>
        </form>
        
    </div>
    
</div>